version: '3'

services:
  web:
    image: somkiat/hello
    ports:
      - "8080:8080"
    deploy:
      mode: replicated
      replicas: 5
      placement:
        constraints:
          - node.role == worker
          - node.hostname == node2
